# ReachInbox Backend API URL (Render Deployed Service)
VITE_API_URL=https://reachinbox-yvsm.onrender.com/api

# ReachInbox Worker URL (Render Deployed Worker)
VITE_WORKER_URL=https://reachinbox-worker-qyhk.onrender.com
